<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3>Angular Form</h3>
                <form firstname="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                    <div class="form-group">
                        <label for="firstName">Nome</label>
                        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName"
                            #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
                            required />
                        <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                            <div *ngIf="firstName.errors.required">Nome è obbligatorio</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Cognome</label>
                        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName"
                            #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
                            required />
                        <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                            <div *ngIf="lastName?.errors?.required">Cognome è obbligatorio</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="eta">Età</label>
                        <input type="text" class="form-control" name="eta" [(ngModel)]="model.eta" #eta="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && eta.invalid }" required eta />
                        <div *ngIf="f.submitted && eta.invalid" class="invalid-feedback">
                            <div *ngIf="eta.errors.required">Età è obbligatoria</div>
                        </div>
                        <div *ngIf="f.submitted && person.eta>=18">Sei maggiorenne</div>
                        <div *ngIf="f.submitted && person.eta<18">Sei minorenne</div>
                    </div>


                    <div class="form-group">
                        <button class="btn btn-primary">Invio</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>